<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Modification</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
<fieldset>
<form action="/annuaire/modifier" method="post">
	<table>
	<tr><td>id:</td><td><span th:text="${person.id}"></span></td></tr>
	<tr><td></td><td><input type="hidden" th:value="${person.id}" id="id" name="id" size = "30" /></td></tr>
	<tr><td>Nom:</td><td><input type="text" th:value="${person.name}" id="name" name="name" size = "30" /></td></tr>
	<tr><td>Prenom :</td><td><input type="text" th:value="${person.surname}" id="surname" name="surname" size = "30"/></td></tr>
	<tr><td>Phone :</td><td><input type="text" th:value="${person.phone}" id="phone" name="phone" size = "30"/></td></tr>		
	<tr><td>City :</td><td><input type="text" th:value="${person.city}" id="city" name="city" size = "30"/></td></tr>
	<tr><td></td><td><input type="submit" value="Submit" /></td></tr>
	</table>
</form>
</fieldset>
</body>
</html>

